[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-rq2 = "*"
flask = "*"
gunicorn = "*"
redis = "*"
jinja2 = "*"
"RPi.GPIO" = "*"
opencv-contrib-python-headless = "*"

[requires]
python_version = "3.5"
